body {
    padding-top: 60px;
}
.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 4px 8px 0 rgba(0,0,0,.05);
}
.icone {
    height: 100px;
}
#home-quoto {
    background: url('../img/bg-quote.jpg') center center;
    background-size: cover;
}

@media (max-width: 767px) {
    #home-quoto .display-4 {
        font-size:  2.5em;
    }
    body {
        padding-top: 0px;
    }
    .fixed-top {
        position: relative;
    }
}